body {
    width: 100vw;
}
.menu{
text-align: center;
}
.nav-menu{
display: inline;
}
.menu li{
list-style: none;
display: inline-block;
text-transform: uppercase;
font-size: 18px;
padding: 25.5px;
}
.nav-menu-link{
text-decoration: none;
color: #FF0000;
font-weight: bold;
padding: 25.5px;
}
.Image{
width: 100%;
}
.Sub-title{
text-align: center;
padding: 48px 253px;
font-weight: bold;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 27px;
letter-spacing: 3.3px;
text-transform: uppercase;
color: #373737;
}

.Content{
top: 115px;
text-align: center;
}
.Content p{
padding: 15px 63px;
}
.Text{
padding: 28px;
}
.Start{
margin-top: 66px;
justify-content: center;
color: white;
background-color: #FF0000;
text-transform: capitalize;
padding: 10px 28px;
}
.Bot{
color: #373737;
text-align: right;
margin-top: 40px;s
}