.body{
  font-family:  Roboto;
}

.container-0{
width: 1283px;
margin: 0 auto;
}

.Main-title{
    font-size: 80px;
}
.Title{
color: aqua;
text-decoration: none;
}

.black-text{
color: black;
}
.container{
display: flex;
flex-direction: row;
justify-content: center; 
margin-top: 38px;
}
.container div{
  border: 1px solid white;
  text-align: center;
  padding: 15px;
  color: white;
  font-size: 24px;
}
  .Item-0 {
    background: #35444F;
    flex:1;
  }
  .Item-1 {
    flex: 4;
    background: #35444F;
  }
  
  .Item-2 {
    flex: 1;
    background: #222F3A;
  }
  .Item-3 {
    flex: 4;
    background: #35444F;
  }

  .Item-4 {
    flex: 3;
    background: #35444F;
  }
  .Item-5 {
    background: #35444F;
    flex:1;
  }

.container-1{
  padding-top: 48px;
  display: flex;
  justify-content: space-between;
}
.Menu{
  width: 344px;
height: 399px;
border: 1px solid #000000;
font-size: 27px;
}
.Menu div{
  padding-left: 44px;
  padding-bottom: 26px;
  padding-top: 15px;
  color: #495863;
}


.Content{
/* display: flex;
  flex-direction: column; */
  width: 886px;

}

.wrap-image{
border: 1px solid #000000;
height: 529px;
display: flex;
justify-content: center;
align-items: center;
}

.Content {
padding: 0px 0px;
font-size: 18px;
} 
.Text{
padding: 34px 0px;
}
.sub-menu{
  text-align: center;
}
.container-3{
display: flex;
justify-content: space-between;
width: 1283px;
margin: 0 auto;
margin-top: 54px;
font-size: 24px;
background-color: rgba(99, 105, 110, 0.48);
}
.container-3 div{
padding: 15px;
}
 .element-1{
   width: 761px;
   word-spacing: 10px;
 }
 .element-2{
  margin-right: 40px;
 }
 .word{
   color: rgba(5, 131, 148, 0.842);
   word-spacing: 1px;
   text-decoration: underline;
   text-underline-position: under;
}
 }
 .word-1{
   word-spacing: 1px;
 }